<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>koa-mailer</title>
	<meta name="description" content="just for mail">
	<meta property="og:type" content="mail">
	<meta property="og:title" content="koa-mailer | by sharlly-yin">
	<meta property="og:url" content="http://www.yinxiangyu.com:5000">
	<meta charset='utf-8'>
	<link rel="stylesheet" type="text/css" href="./css/all.min.css">
	<script type="text/javascript" src="http://g.alicdn.com/kissy/k/1.4.7/seed.js"></script>
</head>
<body>
	<header>
		<p class="mail_header">koa-mailer</p>
	</header>
	<nav>
		<ul class="mail_nav">
			<li style="font-weight:bolder"><a href="/write">写邮件</a></li>
			<li><a href="/read">邮件箱</a></li>
			<li>欢迎，<%= username %></li>
		</ul>
	</nav>
	<article>
		<div class="mail_list">
			<div class="mail_split"></div>
			<form class="mail_send_mesg">
				<label for="sender">昵称</label>
				<input id="sender" type="text" value="" />
				<label for="receiver">收件人</label>
				<input id="receiver" type="text" value="" />
				<label for="subject">主题</label>
				<input id="subject" type="text" value="" />
				<label for="html_mesg">正文</label>
				<textarea id="html_mesg" ></textarea> 
				<input type="submit" id="mail_sub" value="发送">
			</form>
		</div>
	</article>
	<script type="text/javascript" src="./pre_js/write.js"></script>
</body>
</html>
